* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: ivory;
  font-family: 'Impact', sans-serif;
}
  
li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

.grid {
  display: flex;
  flex-direction: row;
}

header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 1.4rem;
  background: radial-gradient( #ebf8e1, #0072bb);
  border-bottom: 2px solid grey;
  width: 100%;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  width: 60vw;
}

@media (max-width: 650px) {
  .logo {
    width: 60vw;
    margin: 0 10px;
  }
}

.logo > img {
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 0;
  width: 60vw;
  height: auto;
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

nav {
  font-weight: 400;
}

@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

nav > ul {
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 15px;
}

nav > li {
  width: 33%;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
/*
    width: 100%;
    margin: 60px auto 0 auto;
    display: flex;
    padding: 0 50px;*/
  }
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin: 0 auto;
}

#hero > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
}

.relax {
  font-style: italic;
  font-weight: 400;
  color: white;
  background: radial-gradient( #0072bb, #ebf8e1);
  font-family: "URW Chancery L", cursive;
  font-size: 30px;
  border-radius: 2px 2px 10px 10px;
  padding: 0 5px;
}

#hero input[type='email'] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

#hero input[type='submit'] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #0072bb;
  color: ivory;
}

#hero input[type='submit']:hover {
  background-color: ivory;
  transition: background-color 0.5s;
  color: black;
  border: 1px solid grey
}

@media (max-width: 650px) {
  #hero {
    margin-top: 150px;
  }
}

@media (max-width: 600px) {
  #hero {
    margin-top: 300px;
  }
}

.grid {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 125px;
  width: 35vw;
  color: #0072bb;
  font-size: 60px;
  padding-right: 20px;
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 125px;
  width: 75vw;
}

#features p {
  font-family: sans-serif
}

@media (max-width: 550px) {
  #features .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

@media (max-width: 650px) {
  #features {
    margin-top: 0;
  }
}

#how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#how-it-works > iframe {
  max-width: 560px;
  width: 100%;
}

#pricing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.product > .level {
  background-color: #0072bb;
  color: linen;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-family: sans-serif;
}

.product > h2 {
  margin-top: 15px;
}

.product > ol {
  margin: 15px 0;
}

.product > ol > li {
  padding: 5px 0;
}

.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #0072bb;
  font-weight: 400;
  color: linen;
  border: 1px solid grey;
}

.product > button:hover {
  background-color: linen;
  color: black;
  transition: background-color 0.5s;
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

footer {
  margin-top: 30px;
  background-color: #0072bb;
  width: 100%;
  padding: 10px 30px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: linen;
}

.new-line {
  display: block;
}

.anchor{
  display: block;
  height: 150px;
  margin-top: -150px;
  visibility: hidden;
}